@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/typography' as *;

.header {
  @include transition(all);
  background: $color--white;
  box-shadow: $shadow--light;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1300;

  &__nav {
    @include content-container(md);

    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    img {
      height: auto;
      width: 200px;
      @include transition(all);

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  &__toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $color--text-primary;
  }

  &__menu {
    display: none;
  }

  &__menu-link {
    @include transition(all);
    font-size: 16px;
    font-family: $font-primary;
    color: $color--text-primary;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 10px;

    &::before {
      @include font_awesome('\f060');
      padding-right: 8px;
      opacity: 0;
      @include transition(all);
    }

    &:hover,
    &:focus,
    &:focus-visible {
      color: $color--primary;
      background-color: transparent;

      &::before {
        transform: translateX(-5px);
        opacity: 1;
        color: $color--primary;
      }
    }

    &:focus-visible {
      outline: 2px solid $color--primary;
      background: transparent;
      background-color: transparent;

      span {
        background: transparent;
        background-color: transparent;
      }
    }
  }

  &__mobile-menu {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  &__drawer {
    @include transition(all);
    position: absolute;
    top: 58px;
    width: 100%;
    background: $color--white;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 0 0 $border-radius $border-radius;
    left: 0;
  }
}

@media screen and (min-width: 910px) {
  .header {
    background: transparent;
    box-shadow: none;

    &--scrolled {
      background: $color--white;
      box-shadow: $shadow--light;

      .header__menu-link {
        &:hover,
        &:focus,
        &:focus-visible {
          color: $color--primary;
        }
      }
    }

    &__logo {
      padding-block: 5px;

      img {
        height: 80px;
        width: auto;
      }
    }

    &__menu {
      display: flex;
      justify-content: flex-end;
      gap: 35px;
    }

    &__menu-link {
      color: $color--white;

      &:hover {
        color: $color--primary;
      }
    }

    &--scrolled {
      .header__menu-link {
        color: $color--text-primary;
      }
    }

    &__toggle {
      display: none;
    }

    &__drawer {
      opacity: 0;
    }
  }
}
