@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/typography' as *;

.statistics {
  @include padding-block;
  background-color: $color--white;

  &__container {
    @include content-container(md);

    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
  }

  &__heading {
    & {
      color: $color--text-primary;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }

  &__item {
    @include flex-column-center;

    & {
      flex: 1 1 calc(50% - 20px);
      max-width: 280px;
    }
  }

  &__number {
    font-family: $font-secondary;
    font-size: $h1-size;
    font-weight: $font-weight-bold;
    color: $color--primary;
  }

  &__label {
    font-family: $font-primary;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    color: $color--text-primary;
    max-width: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .statistics {
    &__grid {
      & {
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }

    &__item {
      & {
        flex: 1;
        max-width: unset;
      }
    }
  }
}
