@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/typography' as *;

.timeline {
  @include padding-block;
  background-color: $color--grey-bg;
  position: relative;

  &__heading {
    @include content-container(md);

    & {
      color: $color--text-primary;
      text-align: center;
    }
  }

  &__container {
    position: relative;
    @include content-container(md);
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: $color--text-muted;
    border-radius: 3px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    margin: 40px 0;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;

    &.is-visible {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }

    &.is-hidden {
      opacity: 0;
    }

    &--left {
      transform: translateX(-40px);
    }

    &--right {
      transform: translateX(40px);
    }

    .timeline__content {
      background: $color--white;
      border-radius: $border-radius;
      padding: 16px 20px;
      max-width: 400px;
      box-shadow: $shadow--medium;
      position: relative;
      z-index: 2;
    }
  }

  &__bubble {
    width: 100px;
    height: 100px;
    background-color: $color--primary;
    border-radius: 50%;
    box-shadow: $shadow--light;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color--white;
    font-weight: bold;
    z-index: 2;
    flex-shrink: 0;
  }

  &__year {
    color: $color--white;
    font-weight: bold;
    text-align: center;
  }

  &__title {
    margin: 0;
    color: $color--primary;
    font-weight: 600;
    font-size: $h5-size;
  }

  &__company {
    margin: 4px 0 10px;
    color: $color--black;
    font-size: $h6-size;
  }

  &__description {
    margin: 0;
    color: $color--text-primary;
  }

  @media screen and (min-width: 1024px) {
    &__line {
      left: 50%;
      transform: translateX(-50%);
    }

    &__item {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      gap: 40px;

      &--left {
        flex-direction: row;
        transform: translateX(-40px);
        margin-left: 85px;

        .timeline__content {
          order: 1;
        }

        .timeline__bubble {
          order: 2;
        }
      }

      &--right {
        flex-direction: row-reverse;
        transform: translateX(40px);
        margin-right: 85px;

        .timeline__bubble {
          order: 1;
        }
      }
    }
  }
}
